<div class="card">
  <div class="card-header card bg-success text-white">
    Most Sold Vehicle
  </div>
  <div class="card-body">
    <h5 class="card-title">{{vehicleMostSoldResult.mostSoldVehicle}}</h5>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-6" *ngFor="let vehicleDeal of lstVehicleDeal">
    <div class="card">
      <div class="card-header card bg-info text-white">
        <div class="row">
          <div class="col-md-8">
            {{vehicleDeal.dealershipName}}
          </div>
          <div class="col-md-4 float-right">
            <i>Deal # {{vehicleDeal.dealNumber}}</i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{vehicleDeal.customerName}}</h5>
        <p class="card-text">Deal was completed on <b> {{vehicleDeal.date | date }} </b>  </p>
        <p class="card-text">Vehicle <b> {{vehicleDeal.vehicle}} </b></p>
        <p class="card-text">Sold for <b> CAD{{vehicleDeal.price | currency}} </b></p>
      </div>
    </div>
  </div>
</div>
