<div class="card">
  <div class="card-header card bg-info text-white">
    Sales Data Upload
  </div>
  <div class="card-body">
    <h5 class="card-title">Select a csv file to upload</h5>
    <p class="card-text">Click on upload button after selected the csv file</p>
    <input type="file" accept=".csv" name="FileInput" (change)="selectFile($event)" />
    <br />
    <br />
    <a href="#" class="btn btn-primary" (click)="upload()">Upload</a>
  </div>
</div>
<br />
<app-sales-data-visualize *ngIf="showresult" [vehicleMostSoldResult]="vehicleMostSoldResult"></app-sales-data-visualize>
