<div class="card">
  <div class="card-header card bg-info text-white">
    Sales Data Upload
  </div>
  <div class="card-body">
    <h5 class="card-title">Select a csv file to upload</h5>
    <p class="card-text">Click on upload button after selected the csv file</p>
    <input hidden
           type="file"
           #selectFile
           accept=".csv"
           name="selectFile"
           (change)="chooseFile($event)" />
    <a href="#" class="btn btn-outline-primary" (click)="selectFile.click()">Select file for upload</a>
    &nbsp;&nbsp;
    <a href="#" class="btn btn-primary" (click)="onUpload()">Upload</a>

    <label [innerHTML]="fileName" class="d-block"></label>
  </div>
</div>
<br />
<app-sales-data-visualize *ngIf="showresult" [vehicleMostSoldResult]="vehicleMostSoldResult"></app-sales-data-visualize>
